@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply bg-white text-slate-900;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .text-balance {
    text-wrap: balance;
  }
}